Dear [% name %],

Thank you for your interest in Traveller's Palm.

We have received the following request from you: 

Reference: [% reference %]
[% message %]


One of our team members will get back to you within one working day.


Happy Travelling!

Phil Rolph
Reservations Manager
Traveller's Palm
    