[% INCLUDE layouts/header.html.tt %] 
<section id="content">
    <div class="container">
        <br>
        <h1>Error 404</h1>
        <br>
        <p class="center"><b>The page [% page %] could not be found.</b></p>
        <br>    
        <p class="center"><a href="javascript:history.back()" >
            <i class="fa fa-hand-o-left"></i>
            GO BACK</a>
        </p>
    </div>
</section>
[% INCLUDE layouts/footer.html.tt %] 