[% INCLUDE layouts/header.html.tt %]

<section id="content">
    <div class="container">
        [% FOREACH text in report %]
           <div class="row">
             <a href="[% request.uri_base %]/[% text.url %]">[% text.url -%]</a>
            </div>
       [% END %]
   </div>
</section>

<!-- waypoint -->
<script type="text/javascript" src="[% request.uri_base %]/js/waypoints.min.js"></script>

<!-- load page Javascript -->
<script type="text/javascript" src="[% request.uri_base %]/js/theme-scripts.js"></script>
<script type="text/javascript" src="[% request.uri_base %]/js/scripts.js"></script>

</body>
</html>

